@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
    }

    body {
        font-family: "Outfit", sans-serif;
        background-color: #161513;
        @apply text-white h-screen;
    }
}